.calendar-weeks {
    background: #eee;
    color: #444;
}

.calendar-columns {
    white-space: nowrap;
}
.calendar-columns > * {
    height: 48px;
    text-align: center;
    line-height: 48px;
    display: inline-block;
    vertical-align: top;
}
.calendar-columns > :first-child,
.calendar-columns > :nth-child(3),
.calendar-columns > :nth-child(4),
.calendar-columns > :nth-child(5),
.calendar-columns > :nth-child(7) {
    width: 14%;
}
.calendar-columns > :nth-child(2),
.calendar-columns > :nth-child(6) {
    width: 15%;
}

.calendar-days {
    font-weight: bold;
}
.calendar-days > :focus {
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
    line-height: 44px;
}
.calendar-days > :active,
.calendar-today {
    border: 0;
    line-height: 48px;
    border-radius: 0;
    color: #fff;
}

.calendar-offmonth {
    color: #aaa;
}

.event-grey {
    color: #777;
}

.busy {
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    width: 32px;
    border: 2px solid #aaa;
    line-height: 28px;
    border-radius: 16px;
}
.calendar-offmonth > .busy {
    border-color: #eee;
}
.calendar-days > :active > .busy,
.calendar-today > .busy {
    border-color: rgba(255, 255, 255, 0.5);
}
