.calendar-weeks {
    background: #eee;
    color: #444;
}

.calendar-columns {
    white-space: nowrap;
}
.calendar-columns > * {
    height: 48px;
    text-align: center;
    line-height: 48px;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
}
.calendar-columns > :first-child,
.calendar-columns > :nth-child(1),
.calendar-columns > :nth-child(3),
.calendar-columns > :nth-child(4),
.calendar-columns > :nth-child(5),
.calendar-columns > :last-child {
    width: 14%;
}
.calendar-columns > :nth-child(2),
.calendar-columns > :nth-child(6) {
    width: 15%;
}

.calendar-days > :focus {
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
    line-height: 44px;
}
.calendar-days > :active,
.calendar-today {
    border: 0;
    line-height: 48px;
    border-radius: 0;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.calendar-offmonth {
    color: #aaa;
}

.navigation {
    background: #eee;
    font-weight: bold;
    text-align: center;
    line-height: 48px;
    color: #444;
    position: relative;
}
.navigation > .month {
    margin: 0 48px;
}
.navigation > .arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 48px;
}
.navigation > .arrow > .icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.navigation > .arrow.left {
    left: 0;
}
.navigation > .arrow.right {
    right: 0;
}
