.tag:focus,
.clickable:focus,
.clickable.focus,
.form-select:focus,
.form-textfield:focus,
.form-textarea:focus,
.topLink:focus,
.newItemButton.not_green:focus {
    border-color: #f80;
    background-color: rgba(255, 136, 0, 0.2);
}

.a,
.tag,
.tab-active,
.form-property {
    color: #f80;
}

.a:focus {
    background-color: rgba(255, 136, 0, 0.2);
}

#tbar,
.tag:focus {
    border-color: #f80;
}

.tag.active,
.tag:active,
.clickable.active,
.clickable:active,
.newItemButton.not_green:active,
.topLink:active {
    background-color: #f80;
    border-color: #f80;
}

.panel-title {
    border-top-color: #f80;
}
.panel-title-text {
    color: #f80;
}

mark {
    background-color: rgba(0, 119, 255, 0.5);
}
