.buttonWrapper {
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
}
.buttonWrapper.left {
    right: 12px;
    left: 0;
}
.buttonWrapper.right {
    right: 0;
    left: 12px;
}
.buttonWrapper.center {
    right: 0;
    left: 0;
}
