.buttonsWrapper {
    position: absolute;
    right: 24px;
    bottom: 24px;
    left: 24px;
    height: 48px;
}
.buttonsWrapper > :first-child {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
}
.buttonsWrapper > :first-child > * {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 200px;
}
.buttonsWrapper > :last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
}
.buttonsWrapper > :last-child > * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 200px;
}
