.tag:focus,
.clickable:focus,
.clickable.focus,
.form-select:focus,
.form-textfield:focus,
.form-textarea:focus {
    border-color: #2a1;
    background-color: #f8fff6;
}

.a,
.tag {
    color: #281;
}

.tab-active {
    background-color: #2a1;
    box-shadow: 0 -16px 16px #281 inset, 0 0 6px rgba(0, 0, 0, 0.4);
}
.tab-spacer {
    background-color: #281;
    border-bottom-color: #261;
}

.tag:focus,
.newItemButton:focus {
    box-shadow: 0 -16px 16px #ecffe7 inset;
    border-color: #2a1;
}
.tag.active,
.tag:active,
.newItemButton:active {
    box-shadow: none;
}

.tag.active,
.tag:active,
.clickable:active,
.newItemButton:active {
    background-color: #2a1;
    border-color: #2a1;
}

.panel-title {
    background-color: #2a1;
    background-image: linear-gradient(#2a1, #281);
    border-bottom-color: #261;
}

.tab-normal:focus {
    border-color: #281;
    background-color: #3c5839;
}

.topLink:focus {
    border-color: #2a1;
}

.topLink:focus {
    background: rgba(34, 170, 17, 0.2);
}
.topLink:active {
    background: rgb(34, 170, 17);
}

mark {
    background-color: #f09eff;
}
