.tag:focus,
.clickable:focus,
.clickable.focus,
.form-select:focus,
.form-textfield:focus,
.form-textarea:focus {
    border-color: #2a1;
    background-color: #f8fff6;
}

.a,
.tag {
    color: #281;
}

.tab-spacer {
    background-color: #2a1;
}

.tag:focus,
.newItemButton:focus {
    border-color: #2a1;
}

.tag.active,
.tag:active,
.clickable:active,
.newItemButton:active {
    background-color: #2a1;
    border-color: #2a1;
}

.panel-title {
    color: #2a1;
    border-bottom-color: #2a1;
}

.topLink:focus {
    border-color: #2a1;
    background: rgba(34, 170, 17, 0.2);
}
.topLink:active {
    background: rgb(34, 170, 17);
}

mark {
    background-color: #f09eff;
}
