.clickable {
    display: block;
    background: transparent;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 2px solid transparent;
    border-radius: 2px;
}
.clickable:active {
    color: #fff;
    border-radius: 0;
}
.clickable:target {
    border-color: #bbb;
    background-color: rgba(187, 187, 187, 0.2);
}
