.a {
    text-decoration: underline;
}

#tbar {
    font-weight: bold;
    color: #fff;
    background-color: #333;
    border-style: solid;
    border-bottom-width: 6px;
    border-color: #7f7f7f;
}
#tbar-limit {
    position: relative;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.link {
    line-height: 48px;
    font-weight: bold;
}
.icon {
    display: inline-block;
    vertical-align: top;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: 32px 0px;
}

.hr {
    height: 1px;
}

.pageTopRightLinks {
    position: absolute;
    top: 0;
    right: 0;
}

.Paging-status {
    text-align: right;
    font-size: 12px;
    line-height: 14px;
    color: #7f7f7f;
    padding: 2px;
    padding: 15px 16px;
}

b.author {
    font-weight: normal;
    border-bottom: 1px dotted;
}

.displayNone {
    display: none;
}

.zeroSize {
    display: inline-block;
    width: 0;
    height: 0;
    overflow: hidden;
}

.zeroHeight {
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden;
    content: '';
}

.colorTag {
    display: inline-block;
    vertical-align: top;
    height: 16px;
    line-height: 16px;
    margin-top: 2px;
    max-width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 2px;
    padding-left: 2px;
    border-left: 2px solid rgba(127, 127, 127, 0.5);
    background-color: rgba(127, 127, 127, 0.2);
}
.clickable.active .colorTag,
.clickable:active .colorTag {
    color: #fff;
}

.term {
    border-bottom: 1px dotted;
}
