.a {
    text-decoration: underline;
}

#tbar {
    font-weight: bold;
    color: #fff;
    background: #333;
    position: relative;
}

#bbar {
    height: 48px;
    background: #444 repeat-x 50% 0%;
    background-image: linear-gradient(#333, #444 25px);
}

.link {
    line-height: 48px;
    font-weight: bold;
}
.icon {
    display: inline-block;
    vertical-align: top;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: 32px 0px;
}

.hr {
    background: #eee;
    height: 1px;
}

.logoImg {
    vertical-align: top;
    margin: -4px;
}

.pageTopRightLinks {
    position: absolute;
    top: 0;
    right: 0;
}

.Paging-status {
    background: #eee;
    text-align: right;
    font-size: 12px;
    line-height: 14px;
    color: #555;
    padding: 2px;
    padding: 10px 12px;
}

.greyBar {
    background: #eee;
    color: #444;
}

b.author {
    font-weight: normal;
    border-bottom: 1px dotted;
}

.displayNone {
    display: none;
}

.zeroSize {
    display: inline-block;
    width: 0;
    height: 0;
    overflow: hidden;
}

.zeroHeight {
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden;
}
