.a {
    text-decoration: underline;
}

#tbar {
    font-weight: bold;
    color: #fff;
    background: #333;
    position: relative;
}

#bbar {
    height: 48px;
    background: #444 repeat-x 50% 0%;
    background-image: linear-gradient(#333, #444 25px);
}

.page-text {
    padding: 16px;
    background: #fff;
    word-wrap: break-word;
}
.page-info {
    background: #fff;
    line-height: 48px;
    color: #555;
    text-align: center;
    font-style: italic;
}

.link {
    line-height: 48px;
    font-weight: bold;
}
.icon {
    background: url(images/icons.png?23);
    display: inline-block;
    vertical-align: top;
    width: 32px;
    height: 32px;
}

.hr {
    background: #ddd;
    height: 1px;
}

.tags {
    padding: 6px 16px 0px;
    line-height: 42px;
}
.tags-label {
    display: inline-block;
    vertical-align: top;
    line-height: 36px;
    margin-right: 8px;
}

.tagFilterBar {
    background: #eee;
    color: #444;
}

.logoImg {
    vertical-align: top;
    margin: -4px;
}

.pageTopRightLinks {
    position: absolute;
    top: 0;
    right: 0;
}

.Paging-status {
    background: #eee;
    text-align: right;
    font-size: 12px;
    line-height: 14px;
    color: #555;
    padding: 2px;
}
