.form-captcha {
    background: #fff;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 164px;
    margin-left: 16px;
}
.form-captcha-image {
    vertical-align: top;
}
@media (max-width: 440px) {
    .form-captcha {
        padding-left: 0;
    }
}
