.form-checkbox {
    padding-left: 180px;
    padding-right: 16px;
    line-height: 48px;
}
.form-checkbox label {
    display: inline-block;
    vertical-align: top;
}
.form-checkbox .clickable {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 48px;
    height: 48px;
}
@media (max-width: 440px) {
    .form-checkbox {
        padding-left: 0;
    }
}

.form-checkbox.item {
    padding: 0;
}
.form-checkbox label {
    display: block;
}
