.form-select {
    width: 100%;
    height: 48px;
    padding: 13px 14px;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 2px;
}
.form-select:focus {
    background-color: rgba(127, 127, 127, 0.2);
}
.form-select:active {
    background-color: rgba(127, 127, 127, 0.4);
}
.form-select.invalid {
    border-color: #f44;
    background-color: #fff4f4;
}
.form-select:-moz-ui-invalid {
    border-color: #f44;
    background-color: #fff4f4;
}

.form-select.year {
    width: 30%;
}
.form-select.month {
    width: 45%;
}
.form-select.day {
    width: 25%;
}

.form-select.hour,
.form-select.minute {
    width: 50%;
}
