.form-item {
    white-space: nowrap;
    position: relative;
}

.form-textarea {
    width: 100%;
    font-weight: bold;
    cursor: text;
    height: 100px;
    min-height: 100px;
    vertical-align: top;
    padding: 12px 14px;
    resize: vertical;
}
.form-textarea.small {
    height: 48px;
    min-height: 48px;
}
.form-textarea:focus {
    background-color: rgba(127, 127, 127, 0.2);
}
.form-textarea:active {
    background-color: rgba(127, 127, 127, 0.4);
}

.form-filefield {
    height: 48px;
    cursor: pointer;
    width: 100%;
}

.form-label {
    padding: 15px 16px;
    line-height: 18px;
    white-space: normal;
    word-wrap: break-word;
}
.form-label-default {
    font-style: italic;
    color: #555;
}

.form-notes {
    font-size: 12px;
    line-height: 14px;
    color: #7f7f7f;
    padding: 2px 16px 15px 16px;
    white-space: normal;
}
.form-notes-item {
    display: block;
}
.form-notes-item-bullet {
    display: inline-block;
    vertical-align: middle;
    width: 4px;
    height: 4px;
    margin-right: 6px;
    background-color: #7f7f7f;
    transform: rotate(-21deg);
    -webkit-transform: rotate(-21deg);
}

.form-textfield,
.form-textarea {
    -webkit-appearance: none;
}

.form-textfield,
.form-textarea {
    border: 2px solid transparent;
}
.form-textfield:-moz-ui-invalid,
.form-textarea:-moz-ui-invalid {
    border-color: #f44;
    background-color: rgba(255, 68, 68, 0.2);
}
