.image_link {
    position: relative;
    height: 48px;
}
.image_link-icon {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 44px;
}
.image_link-content {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 46px;
}
.image_link-title {
    display: block;
    line-height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 8px;
}
.image_link-title.disabled {
    color: #999;
}
.image_link.withArrow {
    background-image: url(../../images/arrow.svg?23);
    background-repeat: no-repeat;
    background-position: 100% 50%;
}
.image_link.withArrow:active {
    background-image: url(../../images/arrow-active.svg?1);
}
.image_link.withArrow .image_link-content {
    right: 24px;
}

.image_link-icon .icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
