.logoLink {
    position: relative;
}

.logoLink-img {
    display: inline-block;
    vertical-align: top;
    margin: -4px;
    width: 60px;
    height: 32px;
    line-height: 32px;
}

.logoLink-notifications {
    display: block;
    position: absolute;
    top: 6px;
    left: 100%;
    background-color: #f22;
    color: #fff;
    min-width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
}
