.navigation {
    text-align: center;
    line-height: 48px;
    position: relative;
}

.navigation-center {
    margin: 0 48px;
}

.navigation-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 48px;
}
.navigation-arrow.left {
    left: 0;
}
.navigation-arrow.right {
    right: 0;
}

.navigation-arrow-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
