.newItemButton {
    position: absolute;
    top: 6px;
    right: 6px;
    margin: 0;
    min-width: 0;
    height: 36px;
    line-height: 32px;
    padding-left: 32px;
    border-width: 2px;
    border-style: solid;
    font-weight: bold;
}
.newItemButton:focus {
    background-color: rgba(127, 127, 127, 0.2);
}
.newItemButton:active {
    color: #fff;
}
.newItemButton.green {
    border-color: hsl(120, 80%, 40%);
    background-color: hsl(120, 80%, 40%);
}
.newItemButton.green:focus {
    border-color: hsl(120, 80%, 50%);
}
.newItemButton.green:active {
    border-color: hsl(120, 80%, 40%);
}

.newItemButton-text {
    padding-right: 7px;
}
.newItemButton:active > .newItemButton-text {
    color: #fff;
}
.newItemButton-text.green {
    color: #fff;
}

.newItemButton-icon {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 16px;
    height: 16px;
    transform: rotate(-21deg);
    -webkit-transform: rotate(-21deg);
}

.newItemButton-icon-line {
    position: absolute;
}

.newItemButton-icon-line.horizontal {
    top: 6px;
    left: 0;
    width: 16px;
    height: 4px;
}
.newItemButton-icon-line.vertical {
    position: absolute;
    top: 0;
    left: 6px;
    width: 4px;
    height: 16px;
}
.newItemButton:active > .newItemButton-icon > .newItemButton-icon-line {
    background: #fff;
}
.newItemButton-icon-line.green {
    background-color: white;
}

@media (max-width: 700px) {
    .newItemButton-text > .secondary {
        display: none;
    }
}
