.newItemButton {
    position: absolute;
    top: 6px;
    right: 6px;
    margin: 0;
    min-width: 0;
    height: 36px;
    line-height: 32px;
    padding-left: 32px;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
    font-weight: bold;
}
.newItemButton:active {
    color: #fff;
}

.newItemButton-text {
    padding-right: 7px;
}
.newItemButton:active > .newItemButton-text {
    color: #fff;
}

.newItemButton-icon {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 16px;
    height: 16px;
    transform: rotate(-21deg);
}

.newItemButton-icon > * {
    position: absolute;
}
.newItemButton-icon > .horizontal {
    top: 6px;
    left: 0;
    width: 16px;
    height: 4px;
}
.newItemButton-icon > .vertical {
    top: 0;
    left: 6px;
    width: 4px;
    height: 16px;
}
.newItemButton:active > .newItemButton-icon > .background {
    background: transparent;
}
.newItemButton:active > .newItemButton-icon > .foreground {
    background: #fff;
}

@media (max-width: 700px) {
    .newItemButton-text > .secondary {
        display: none;
    }
}
