.page-tags {
    padding-top: 8px;
    padding-right: 16px;
    padding-left: 16px;
    line-height: 42px;
}

.page-tags-label {
    display: inline-block;
    vertical-align: top;
    line-height: 32px;
    margin-right: 8px;
}
