.page-tags {
    padding-top: 6px;
    padding-right: 16px;
    padding-left: 16px;
    line-height: 42px;
}

.page-tags-label {
    display: inline-block;
    vertical-align: top;
    line-height: 36px;
    margin-right: 6px;
}
