.panel {
    background-color: #fff;
}
.panel-title {
    height: 32px;
    line-height: 30px;
    padding-right: 12px;
    padding-left: 12px;
    border-top: 2px solid transparent;
    font-weight: bold;
}
