.php-code {
    background: #f7f7f7;
    padding: 7px 8px;
    margin: -8px;
    overflow: auto;
}

.php-code .comment {
    color: #999;
}
.php-code .string {
    color: #f50;
}
.php-code .keyword {
    font-weight: bold;
}
