.php-code {
    background-color: rgba(127, 127, 127, 0.2);
    padding: 7px 8px;
    margin: -7px -8px;
    overflow: auto;
}

.php-code .comment {
    color: #999;
}
.php-code .string {
    color: #f50;
}
.php-code .keyword {
    font-weight: bold;
}
.php-code .variable {
    color: #05c;
}
.php-code .constant {
    color: #50a;
}
.php-code .number {
    color: #f50;
}
