.search_form {
    height: 48px;
    position: relative;
}
.search_form input[name="keyword"] {
    width: 100%;
    height: 100%;
    cursor: text;
}

.search_form-content {
    position: absolute;
    top: 0;
    right: 96px;
    bottom: 0;
    left: 0;
}
.search_form-content.empty {
    position: absolute;
    top: 0;
    right: 48px;
    bottom: 0;
    left: 0;
}
