.source_code {
    background-color: rgba(127, 127, 127, 0.2);
    padding: 7px 8px;
    margin: -7px -8px;
    overflow: auto;
}

.source_code .comment {
    color: #999;
}
.source_code .string {
    color: #f50;
}
.source_code .keyword {
    font-weight: bold;
}
.source_code .variable {
    color: #05c;
}
.source_code .constant {
    color: #50a;
}
.source_code .number {
    color: #f50;
}
