.tab {
    position: relative;
    background-color: #eee;
}
.tab-bar {
    display: inline-block;
    white-space: nowrap;
}
.tab-normal,
.tab-active {
    display: inline-block;
    vertical-align: top;
    line-height: 44px;
    padding-left: 8px;
    padding-right: 8px;
    color: #777;
    font-weight: bold;
    border: 2px solid transparent;
}
.tab-active {
    color: #fff;
}
.tab-spacer {
    height: 6px;
    position: relative;
}
.tab-content {
    background-color: #fff;
}

@media (max-width: 440px) {

    .tab-active {
        max-width: 170px;
        direction: rtl;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .tab-normal {
        text-align: center;
        width: 40px;
    }
    .tab-normal > .secondary {
        display: none;
    }

}
