.tag {
    display: inline-block;
    vertical-align: top;
    min-width: 32px;
    max-width: 240px;
    text-align: center;
    font-weight: bold;
    padding-right: 9px;
    padding-left: 9px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 36px;
    margin-right: 6px;
    border-left: 4px solid #7f7f7f;
}

.tag-text {
    max-width: 220px;
    display: inline-block;
    vertical-align: top;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tag-number {
    font-weight: normal;
    display: inline-block;
    vertical-align: top;
}
