.tag {
    display: inline-block;
    vertical-align: top;
    min-width: 48px;
    text-align: center;
    font-weight: bold;
    padding: 0 7px;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
    white-space: nowrap;
    max-width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 32px;
    margin-right: 6px;
}
.tag.active,
.tag:active {
    color: #fff;
    border: 0;
    padding: 2px 9px;
}

.tag-text {
    max-width: 220px;
    display: inline-block;
    vertical-align: top;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tag-number {
    font-weight: normal;
    display: inline-block;
    vertical-align: top;
}
