.textList ul {
    display: block;
    padding: 13px 14px;
}
.textList li {
    padding: 2px;
    display: block;
}
.textList .bullet {
    display: inline-block;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    margin-right: 8px;
    transform: rotate(-21deg);
    -moz-transform: rotate(-21deg);
    -webkit-transform: rotate(-21deg);
}

.textList.errors {
    background-color: #fbb;
    color: #911;
}
.textList.errors .bullet {
    background-color: #911;
}

.textList.messages {
    background-color: #9e9;
    color: #191;
}
.textList.messages .bullet {
    background-color: #191;
}

.textList.warnings {
    background-color: #ffc;
    color: #c71;
}
.textList.warnings .bullet {
    background-color: #c71;
}
