.textList-list {
    display: block;
    padding: 13px 14px;
}

.textList-list-item {
    padding: 2px;
    display: block;
}

.textList-list-item-bullet {
    display: inline-block;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    margin-right: 8px;
    border-radius: 50%;
}
