.thumbnails-item {
    display: inline-block;
    vertical-align: top;
    width: 250px;
}

@media (max-width: 370px) {
    .thumbnails-item {
        width: 50%;
    }
}

@media (min-width: 371px) and (max-width: 510px) {
    .thumbnails-item {
        width: 33%;
    }
    .thumbnails-item.wide_of_three {
        width: 34%;
    }
    .thumbnails-br.n3 {
        display: block;
    }
}

@media (min-width: 511px) and (max-width: 650px) {
    .thumbnails-item {
        width: 25%;
    }
    .thumbnails-br.n4 {
        display: block;
    }
}

@media (min-width: 651px) and (max-width: 800px) {
    .thumbnails-item {
        width: 20%;
    }
    .thumbnails-br.n5 {
        display: block;
    }
}

@media (min-width: 801px) {
    .thumbnails-item {
        width: 17%;
    }
    .thumbnails-item.narrow_of_six {
        width: 16%;
    }
    .thumbnails-br.n6 {
        display: block;
    }
}
