.title_and_description {
    display: block;
    line-height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.title_and_description-title {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 8px;
}

.title_and_description-description {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: normal;
    margin-right: 8px;
}
