.topLink {
    display: inline-block;
    vertical-align: top;
    color: #ccc;
    padding: 10px;
    line-height: 24px;
    border: 2px solid transparent;
}
.topLink:focus {
    background-color: rgba(127, 127, 127, 0.2);
}
.topLink:active {
    color: #fff;
}
