.twoColumns {
    position: relative;
}

.twoColumns-column1,
.twoColumns-column2 {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 50%;
}
.twoColumns-column2 {
    border-left: 1px solid #eee;
}

@media (max-width: 440px) {
    .twoColumns-column1.dynamic,
    .twoColumns-column2.dynamic {
        display: block;
        width: auto;
    }
    .twoColumns-column2.dynamic {
        border-left: 0;
        border-top: 1px solid #eee;
    }
}
