.tag:focus,
.clickable:focus,
.clickable.focus,
.form-select:focus,
.form-textfield:focus,
.form-textarea:focus {
    border-color: #f80;
    background-color: #fff7f0;
}

.a,
.tag {
    color: #d70;
}

.tab-active,
.tab-spacer {
    background-color: #f80;
}

.tag:focus,
.newItemButton:focus {
    border-color: #f80;
}

.tag.active,
.tag:active,
.clickable:active,
.newItemButton:active {
    background-color: #f80;
    border-color: #f80;
}

.panel-title {
    color: #f80;
    border-bottom-color: #f80;
}

.tab-normal:focus,
.topLink:focus {
    border-color: #f80;
    background: rgba(255, 136, 0, 0.2);
}
.topLink:active {
    background: rgb(255, 136, 0);
}

mark {
    background-color: #a6cfff;
}
