.tag:focus,
.clickable:focus,
.clickable.focus,
.form-select:focus,
.form-textfield:focus,
.form-textarea:focus {
    border-color: #f80;
    background-color: #fff7f0;
}

.clickable:target {
    background-color: #fff7f0;
}

.a,
.tag {
    color: #d70;
}

.tab-active {
    background-color: #f80;
    box-shadow: 0 -16px 16px #d70 inset, 0 0 6px rgba(0, 0, 0, 0.4);
}
.tab-spacer {
    background-color: #d70;
    border-bottom-color: #b60;
}

.tag:focus,
.newItemButton:focus {
    box-shadow: 0 -16px 16px #ffefe1 inset;
    border-color: #f80;
}
.tag.active,
.tag:active,
.newItemButton:active {
    box-shadow: none;
}

.tag.active,
.tag:active,
.clickable:active,
.newItemButton:active {
    background-color: #f80;
    border-color: #f80;
}

.panel-title {
    background-color: #f80;
    background-image: linear-gradient(#f80, #d70);
    border-bottom-color: #b60;
}

.tab-normal:focus {
    border-color: #d70;
    background-color: #695136;
}

.topLink:focus {
    border-color: #f80;
}

.topLink:focus {
    background: rgba(255, 136, 0, 0.2);
}
.topLink:active {
    background: rgb(255, 136, 0);
}

mark {
    background-color: #a6cfff;
}
