::-webkit-input-placeholder {
    color: #fff;
}
/* firefox 4 to 18 */
*:-moz-placeholder {
    color: #fff;
}
/* firefox 19 to ~ */
::-moz-placeholder {
    color: #fff;
}

body {
    background-color: #000;
    color: #fff;
}

.hr,
.form-textfield-label-separator,
.cashflow-bars,
.barChart-line {
    background-color: #1c1c1c;
}

.contactPanel-info,
.twoColumns-column2,
.page_tabs-tab.normal {
    border-color: #1c1c1c;
}

.map-gridline {
    stroke: #1c1c1c;
}

.tab-bar,
.tab-content,
.panel {
    background-color: #000;
    color: #fff;
}

.barChart-number {
    background: rgba(0, 0, 0, 0.6);
}
.barChart-lineLabels {
    background-color: #000;
}
.barChart-lineLabels-gradient {
    background-image: linear-gradient(to right, #000, rgba(0, 0, 0, 0));
}

.tag,
.newItemButton.not_green {
    border-color: hsl(0, 0%, 40%);
}
.newItemButton-text.not_green {
    color: #ccc;
}
.newItemButton-icon-line.not_green {
    background-color: #ccc;
}

.textList.errors {
    background-color: hsl(0, 90%, 15%);
    color: hsl(0, 80%, 60%);
}
.textList-list-item-bullet.errors {
    background-color: hsl(0, 80%, 60%);
}

.textList.messages {
    background-color: hsl(120, 70%, 15%);
    color: hsl(120, 80%, 50%);
}
.textList-list-item-bullet.messages {
    background-color: hsl(120, 80%, 50%);
}

.textList.warnings {
    background-color: hsl(50, 90%, 15%);
    color: hsl(50, 80%, 50%);
}
.textList-list-item-bullet.warnings {
    background-color: hsl(50, 80%, 50%);
}

.filterBar {
    background-color: hsl(50, 90%, 15%);
    color: hsl(50, 80%, 50%);
}

.confirmDialog-frame {
    background-color: #444;
}
