* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: inherit;
    cursor: inherit;
    font: inherit;
    text-decoration: inherit;
    background: transparent;
    text-align: inherit;
    resize: none;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html,
body {
    font: normal 16px/18px Arial, sans-serif;
    text-decoration: none;
    color: #eee;
    background: #444;
    cursor: default;
    text-align: left;
    height: 100%;
    min-width: 320px;
}
a {
    cursor: pointer;
}
b {
    font-weight: bold;
}
li {
    display: block;
}

h1 {
    padding: 24px;
    font-size: 32px;
    line-height: 32px;
    font-weight: bold;
}

h2 {
    font-size: 26px;
    line-height: 26px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
}

code {
    font-family: monospace;
    background: #333;
    font-size: 14px;
}

pre {
    font-family: monospace;
    background: #333;
    padding: 8px;
    overflow: auto;
    font-size: 14px;
}

.php-code .comment {
    color: #999;
}
.php-code .string {
    color: #f50;
}
.php-code .keyword {
    font-weight: bold;
}

.params {
    margin-left: 24px;
}

.layout-index {
    padding: 0 24px 24px 24px;
}
.layout-content {
    padding: 0 24px 24px 24px;
}

@media (min-width: 800px) {

    .layout-index {
        position: absolute;
        top: 80px;
        bottom: 0;
        left: 0;
        width: 300px;
        overflow: auto;
        padding: 0;
    }
    .layout-index > .padder {
        padding: 0 24px 24px 24px;
    }

    .layout-content {
        position: absolute;
        top: 80px;
        right: 0;
        bottom: 0;
        left: 300px;
        overflow: auto;
        padding: 0;
    }
    .layout-content > .padder {
        padding: 0 24px 24px 0;
    }

}

.tableOfContents li {
    display: list-item;
    margin: 4px 0 4px 32px;
}
