.tag:focus,
.clickable:focus,
.clickable.focus,
.form-select:focus,
.form-textfield:focus,
.form-textarea:focus,
.topLink:focus,
.newItemButton:focus {
    border-color: #93b606;
    background-color: rgba(147, 182, 6, 0.2);
}

.a,
.tag,
.tab-active,
.form-property {
    color: #93b606;
}

.a:focus {
    background-color: rgba(147, 182, 6, 0.2);
}

#tbar,
.tag:focus {
    border-color: #93b606;
}

.tag.active,
.tag:active,
.clickable.active,
.clickable:active,
.newItemButton:active,
.topLink:active {
    background-color: #93b606;
    border-color: #93b606;
}

.panel-title {
    border-top-color: #93b606;
}
.panel-title-text {
    color: #93b606;
}

mark {
    background-color: rgba(225, 0, 255, 0.5);
}
