.clickable:focus,
.clickable.focus,
.form-select:focus,
.form-textfield:focus,
.form-textarea:focus,
.topLink:focus,
.newItemButton.not_green:focus {
    border-color: #96bc00;
    background-color: rgba(150, 188, 0, 0.2);
}

.a,
.tab-active,
.form-property,
.page_tabs-tab.selected {
    color: #96bc00;
}

.a:focus,
.tag.active,
.clickable:target {
    background-color: rgba(150, 188, 0, 0.2);
}

#tbar,
.tag.active,
.panel-title,
.page_tabs-tab.selected {
    border-color: #96bc00;
}

.clickable.active,
.clickable:active,
.newItemButton.not_green:active,
.topLink:active {
    background-color: #96bc00;
    border-color: #96bc00;
}

.panel-title-text {
    color: #96bc00;
}

mark {
    background-color: rgba(120, 87, 255, 0.5);
}

.tag:focus {
    outline: 2px solid #96bc00;
}
