#tbar {
    border-color: #39e;
}

.tag:focus,
.clickable:focus,
.clickable.focus,
.form-select:focus,
.form-textfield:focus,
.form-textarea:focus {
    border-color: #39e;
    background-color: rgba(51, 153, 238, 0.2);
}

.a,
.tag {
    color: #37c;
}

.tag:focus,
.newItemButton:focus {
    border-color: #39e;
}

.tag.active,
.tag:active,
.clickable:active,
.newItemButton:active {
    background-color: #39e;
    border-color: #39e;
}

.panel-title {
    color: #39e;
    border-top-color: #39e;
}

.topLink:focus {
    border-color: #39e;
    background: rgba(51, 158, 224, 0.2);
}
.topLink:active {
    background: rgb(51, 158, 224);
}

mark {
    background-color: rgba(255, 115, 0, 0.5);
}
