.tag:focus,
.clickable:focus,
.clickable.focus,
.form-select:focus,
.form-textfield:focus,
.form-textarea:focus,
.topLink:focus,
.newItemButton.not_green:focus {
    border-color: #239cfe;
    background-color: rgba(35, 156, 254, 0.2);
}

.a,
.tag,
.tab-active,
.form-property,
.page_tabs-tab.selected {
    color: #239cfe;
}

.a:focus,
.clickable:target {
    background-color: rgba(35, 156, 254, 0.2);
}

#tbar,
.tag:focus,
.panel-title,
.page_tabs-tab.selected {
    border-color: #239cfe;
}

.tag.active,
.tag:active,
.clickable.active,
.clickable:active,
.newItemButton.not_green:active,
.topLink:active {
    background-color: #239cfe;
    border-color: #239cfe;
}

.panel-title-text {
    color: #239cfe;
}

mark {
    background-color: rgba(254, 128, 32, 0.5);
}
