.tag:focus,
.clickable:focus,
.clickable.focus,
.form-select:focus,
.form-textfield:focus,
.form-textarea:focus,
.topLink:focus {
    border-color: #39e;
    background-color: rgba(51, 153, 238, 0.2);
}

.a,
.tag,
.tab-active {
    color: #39e;
}

#tbar,
.tag:focus,
.newItemButton:focus {
    border-color: #39e;
}

.tag.active,
.tag:active,
.clickable:active,
.newItemButton:active,
.topLink:active {
    background-color: #39e;
    border-color: #39e;
}

.panel-title {
    color: #39e;
    border-top-color: #39e;
}

mark {
    background-color: rgba(255, 115, 0, 0.5);
}
