.tag:focus,
.clickable:focus,
.clickable.focus,
.form-select:focus,
.form-textfield:focus,
.form-textarea:focus,
.topLink:focus,
.newItemButton.not_green:focus {
    border-color: #00c1c1;
    background-color: rgba(0, 193, 193, 0.2);
}

.a,
.tag,
.tab-active,
.form-property,
.page_tabs-tab.selected {
    color: #00c1c1;
}

.a:focus,
.clickable:target {
    background-color: rgba(0, 193, 193, 0.2);
}

#tbar,
.tag:focus,
.panel-title,
.page_tabs-tab.selected {
    border-color: #00c1c1;
}

.tag.active,
.tag:active,
.clickable.active,
.clickable:active,
.newItemButton.not_green:active,
.topLink:active {
    background-color: #00c1c1;
    border-color: #00c1c1;
}

.panel-title-text {
    color: #00c1c1;
}

mark {
    background-color: rgba(255, 41, 41, 0.5);
}
