.button {
    background: #666;
    font-weight: bold;
    line-height: 44px;
    height: 48px;
    display: inline-block;
    vertical-align: top;
    width: 100px;
    text-align: center;
    cursor: pointer;
    border: 2px solid transparent;
}
.button:focus {
    border-color: #f80;
}
.button.nextButton {
    margin-left: 32px;
}
.button.disabled {
    background: #555;
    color: #777;
}
