* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    color: inherit;
    cursor: inherit;
    background: transparent;
    text-decoration: none;
    box-shadow: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

*::-moz-focus-inner {
    border: 0;
}

html, body {
    font: normal 16px/22px Arial, sans-serif;
    cursor: default;
    background: #444;
    color: #fff;
    height: 100%;
}

h2 {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 12px;
}

h3 {
    font-weight: bold;
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 8px;
}

a {
    cursor: pointer;
}

li {
    display: block;
}

p {
    margin-top: 9px;
}

.link {
    text-decoration: underline;
    color: #f80;
}
.link:focus {
    background-color: rgba(255, 136, 0, 0.2);
}

.error {
    font-weight: bold;
    color: #f55;
}

label {
    cursor: pointer;
}

.formError {
    margin-top: 16px;
}

.title-step {
    float: right;
    color: #aaa;
}

.notes {
    padding-top: 2px;
    padding-bottom: 2px;
}
.notes-note {
    font-size: 12px;
    line-height: 14px;
    color: #aaa;
}

@media (max-width: 700px) {

    .title-step {
        float: none;
    }

    .button.nextButton {
        position: absolute;
        right: 0;
    }

}
