.field_columns {
    white-space: nowrap;
}

.field_columns-column {
    width: 206px;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    margin-bottom: 8px;
}
.field_columns-column.column1 {
    margin-right: 24px;
}

@media (max-width: 700px) {
    .field_columns-column {
        width: auto;
        display: block;
    }
    .field_columns-column.column1 {
        margin-right: 0;
    }
}
