* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    color: inherit;
    cursor: inherit;
    font: inherit;
    text-decoration: inherit;
    background: transparent;
    text-align: inherit;
    resize: none;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

*::-moz-focus-inner {
    border: 0;
}

::-webkit-input-placeholder {
    color: #000;
    opacity: 0.5;
}
::-moz-placeholder {
    color: #000;
    opacity: 0.5;
}

html,
body {
    font: normal 16px/18px sans-serif;
    text-decoration: none;
    color: #000;
    cursor: default;
    background: #444;
    text-align: left;
    min-width: 320px;
}
body {
    overflow-y: scroll;
}
a, button {
    cursor: pointer;
}
a.a {
    text-decoration: underline;
}
b {
    font-weight: bold;
}
label {
    cursor: pointer;
}
img {
    vertical-align: middle;
}

#tbar {
    font-weight: bold;
    padding: 12px 12px 0px;
    color: #fff;
    background: #333;
}

.topLink {
    display: inline-block;
    vertical-align: top;
    color: #ccc;
    background: #444;
    padding: 5px;
    line-height: 24px;
    border-radius: 4px;
}
.topLink:active {
    background: #000;
}

#bbar {
    padding: 16px;
    text-align: right;
    color: #fff;
}

.page-text {
    padding: 16px;
    background: #fff;
    word-wrap: break-word;
}
.page-info {
    background: #fff;
    line-height: 48px;
    color: #555;
    text-align: center;
    font-style: italic;
}

.tab {
    padding: 12px 12px 0 12px;
}
.tab,
#bbar {
    background: #444 repeat-x 50% 0%;
    background-image: linear-gradient(#333, #444 25px);
}
.tab-bar {
    display: inline-block;
    border-radius: 4px 4px 0 0;
    white-space: nowrap;
}
.tab-normal,
.tab-active {
    padding: 16px 10px;
    display: inline-block;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    font-weight: bold;
    vertical-align: top;
    border-radius: 4px 4px 0 0;
}
.tab-normal {
    transition: 0.2s background-color, 0.2s color;
}
.tab-normal:active {
    background: #555;
}
.tab-spacer {
    height: 6px;
    position: relative;
    border-bottom: 1px solid transparent;
}
.tab-content {
    background: #fff;
}

.clickable {
    display: block;
    background: transparent;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.clickable:focus {
    border: 2px solid transparent;
    border-radius: 2px;
}
.clickable:active {
    border: 0;
    color: #fff;
    border-radius: 0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.link {
    line-height: 48px;
    font-weight: bold;
}
.image-link {
    padding: 8px;
    font-weight: bold;
}
.icon {
    background: url(images/icons.png?5);
    display: inline-block;
    vertical-align: top;
    width: 32px;
    height: 32px;
}

.imageText {
    position: relative;
    background: #fff;
}
.imageText-icon {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 48px;
}
.imageText-text {
    padding: 16px 16px 16px 54px;
}

.hr {
    background: #ddd;
    height: 1px;
}

.form-item {
    white-space: nowrap;
    display: block;
    background: #fff;
}
.form-property {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    text-align: right;
    padding: 0 2px;
}
.form-property > label {
    line-height: 48px;
    display: inline-block;
    vertical-align: top;
}
.form-value {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}
.form-textfield {
    width: 100%;
    font-weight: bold;
    cursor: text;
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
}
.form-textfield:focus,
.form-textfield:-moz-ui-invalid {
    padding: 0 14px;
}
.form-textarea {
    width: 100%;
    font-weight: bold;
    cursor: text;
    padding: 12px 16px;
    height: 100px;
}
.form-textarea:focus,
.form-textarea:-moz-ui-invalid {
    padding: 12px 14px;
}
.form-button {
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    line-height: 48px;
    height: 48px;
}
.form-filefield {
    height: 48px;
    cursor: pointer;
    width: 100%;
}
.form-select {
    width: 100%;
    height: 48px;
    padding: 12px 16px;
    font-weight: bold;
}
.form-select:focus {
    padding: 10px 14px;
}
.form-captcha {
    background: #fff;
    padding-left: 50%;
}
.form-label {
    font-weight: bold;
    padding: 0 16px;
    line-height: 48px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.form-notes {
    font-size: 12px;
    line-height: 14px;
    margin-left: 26px;
    color: #555;
}
.form-textfield:-moz-ui-invalid,
.form-textarea:-moz-ui-invalid {
    border: 2px solid #f44;
    border-radius: 2px;
    background-color: #fff4f4;
}
.form-select:focus,
.form-textfield:focus,
.form-textarea:focus {
    border: 2px solid transparent;
    border-radius: 2px;
}

.errors {
    background: #fbb;
    padding: 12px 12px 12px 36px;
    color: #911;
}
.errors > * {
    padding: 2px;
}
.errors-hr {
    height: 1px;
    background: #e99;
}

.messages {
    background: #9e9;
    padding: 12px 12px 12px 36px;
    color: #191;
}
.messages > * {
    padding: 2px;
}
.messages-hr {
    height: 1px;
    background: #8d8;
}

.warnings {
    background: #eee;
    padding: 12px 12px 12px 36px;
    color: #444;
}
.warnings > * {
    padding: 2px;
}
.warnings-hr {
    height: 1px;
    background: #ddd;
}

.imageLink {
    position: relative;
    height: 48px;
}
.imageLink-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 48px;
}
.clickable:focus .imageLink-icon {
    width: 44px;
}
.clickable:active .imageLink-icon {
    width: 48px;
}
.imageLink-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 48px;
}
.clickable:focus .imageLink-content {
    left: 46px;
    top: -2px;
    right: -2px;
    bottom: -2px;
}
.clickable:active .imageLink-content {
    top: 0;
    right: 0;
    bottom: 0;
    left: 48px;
}
.imageLink-title {
    line-height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.imageLink-title.disabled {
    color: #999;
}

.linkDescription {
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: normal;
}
.clickable:active .linkDescription {
    color: #fff;
}

.imageText-icon .icon,
.imageLink-icon .icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.panel {
    background: #444 repeat-x 50% 0%;
    background-image: linear-gradient(#333, #444 25px);
}
.panel > .title {
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    padding: 8px;
    font-weight: bold;
    border-bottom: 1px solid transparent;
}
.panel > .content {
    background: #fff;
}

.tags {
    padding: 6px 16px 0px;
    line-height: 42px;
}
.tags-label {
    display: inline-block;
    vertical-align: top;
    line-height: 36px;
    margin-right: 8px;
}

.tag {
    display: inline-block;
    vertical-align: top;
    min-width: 48px;
    box-shadow: 0 -16px 16px #eee inset;
    text-align: center;
    font-weight: bold;
    background: #fff;
    padding: 0 7px;
    border: 2px solid #bbb;
    border-radius: 2px;
    white-space: nowrap;
    max-width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 32px;
    margin-right: 6px;
}
.tag:active {
    box-shadow: none;
    color: #fff;
    border: 0;
    padding: 2px 9px;
}
