html, body {
    height: 100%;
}

.buttonWrapper {
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
}

.button {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 48px;
    text-align: center;
    font-weight: bold;
}
.button:focus {
    border: 2px solid #f80;
    border-radius: 2px;
    line-height: 44px;
    background: #fff7f0;
}
.button:active {
    color: #fff;
    background-color: #f80;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

h1 {
    font-size: 22px;
}
