.a {
    color: #e59;
}
.tab-active {
    background-color: #f6a;
    box-shadow: 0 -16px 16px #e59 inset, 0 0 6px rgba(0, 0, 0, 0.4);
}
.tab-spacer {
    background-color: #e59;
    border-bottom-color: #d48;
}
.clickable:active, .clickable:focus {
    background-color: #f6a;
}

.calendar-today {
    background-color: #f6a;
}

.panel > .title {
    background-color: #f6a;
    background-image: linear-gradient(#f6a, #e59);
    border-bottom-color: #d48;
}

.form-select:focus,
.form-textfield:focus,
.form-textarea:focus {
    border-color: #f6a;
    background-color: #fff4f7;
}
