.tag:focus,
.clickable:focus,
.clickable.focus,
.form-select:focus,
.form-textfield:focus,
.form-textarea:focus {
    border-color: #f6a;
    background-color: #fff4f7;
}

.a,
.tag {
    color: #e59;
}

.tab-active {
    background-color: #f6a;
    box-shadow: 0 -16px 16px #e59 inset, 0 0 6px rgba(0, 0, 0, 0.4);
}
.tab-spacer {
    background-color: #e59;
    border-bottom-color: #d48;
}

.tag:focus,
.newItemButton:focus {
    box-shadow: 0 -16px 16px #ffe5ec inset;
    border-color: #f6a;
}
.tag.active,
.tag:active,
.newItemButton:active {
    box-shadow: none;
}

.tag.active,
.tag:active,
.clickable:active,
.newItemButton:active {
    background-color: #f6a;
    border-color: #f6a;
}

.panel > .title {
    background-color: #f6a;
    background-image: linear-gradient(#f6a, #e59);
    border-bottom-color: #d48;
}

.tab-normal:focus {
    border-color: #e59;
    background-color: #694a58;
}

.topLink:focus {
    border-color: #f6a;
}

.topLink:focus {
    background: rgba(255, 102, 170, 0.2);
}
.topLink:active {
    background: rgb(255, 102, 170);
}

mark {
    background-color: #82ffc7;
}
