.barChart {
    padding: 27px 16px;
    text-align: center;
    font-size: 11px;
    line-height: 13px;
    white-space: nowrap;
    overflow-x: auto;
}

.barChart-content {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left: 44px;
    padding-right: 4px;
}

.barChart-barWrapper {
    display: inline-block;
    vertical-align: top;
    width: 48px;
    height: 200px;
    position: relative;
}

.barChart-bar {
    background: #ccc;
    position: absolute;
    right: 0;
    left: 0;
    margin-left: 4px;
    margin-right: 4px;
}
.barChart-bar.positive {
    bottom: 0;
}
.barChart-bar.negative {
    top: 0;
}

.barChart-value {
    position: absolute;
    right: 0;
    left: 0;
}
.barChart-value.positive {
    bottom: 100%;
}
.barChart-value.negative {
    top: 100%;
}

.barChart-sizer {
    position: absolute;
    right: 0;
    left: 0;
}
.barChart-sizer.positive {
    top: 0;
}
.barChart-sizer.negative {
    bottom: 0;
}

.barChart-line {
    position: absolute;
    right: 0;
    left: 0;
    height: 1px;
    background: #ddd;
}

.barChart-lineValue {
    position: absolute;
    left: 0;
    width: 36px;
    top: -7px;
    text-align: right;
}

.barChart-number {
    background: rgba(255, 255, 255, 0.6);
    padding-left: 2px;
    padding-right: 2px;
    display: inline-block;
    vertical-align: top;
}
