.barChart {
    text-align: center;
    font-size: 10px;
    line-height: 13px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}

.barChart-padding {
    display: inline-block;
    vertical-align: top;
    padding-left: 16px;
    padding-right: 16px;
}

.barChart-content {
    position: relative;
    height: 100%;
}

.barChart-verticalPadding {
    padding-top: 27px;
    padding-bottom: 40px;
}

.barChart-bars {
    display: inline-block;
    vertical-align: top;
    padding-left: 4px;
    padding-right: 4px;
}

.barChart-barWrapper {
    display: inline-block;
    vertical-align: top;
    width: 48px;
    height: 200px;
    position: relative;
}

.barChart-lines {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.barChart-line {
    position: absolute;
    right: 0;
    left: 32px;
    border-bottom: 1px solid rgba(127, 127, 127, 0.2);
}

.barChart-lineLabel {
    position: absolute;
    right: 0;
    left: 0;
    height: 1px;
}

.barChart-lineLabel-value {
    position: absolute;
    top: -7px;
    left: 0;
    right: 0;
    text-align: right;
}

.barChart-number {
    padding-left: 2px;
    padding-right: 2px;
    display: inline-block;
    vertical-align: top;
}

.barChart-label {
    position: absolute;
    right: 0;
    left: 0;
    bottom: -26px;
    overflow: hidden;
    text-overflow: ellipsis;
}
