.barChart-bar {
    background: #7f7f7f;
    position: absolute;
    right: 0;
    left: 0;
    margin-left: 4px;
    margin-right: 4px;
}
.barChart-bar.positive {
    bottom: 0;
}
.barChart-bar.negative {
    top: 0;
}

