.tag:focus,
.clickable:focus,
.clickable.focus,
.form-select:focus,
.form-textfield:focus,
.form-textarea:focus {
    border-color: #39e;
    background-color: #f5f8ff;
}

.a,
.tag {
    color: #37c;
}

.tab-active,
.tab-spacer {
    background-color: #39e;
}

.tag:focus,
.newItemButton:focus {
    border-color: #39e;
}

.tag.active,
.tag:active,
.clickable:active,
.newItemButton:active {
    background-color: #39e;
    border-color: #39e;
}

.panel-title {
    color: #39e;
    border-bottom-color: #39e;
}

.tab-normal:focus {
    border-color: #37c;
    background-color: #405562;
}

.topLink:focus {
    border-color: #39e;
}

.topLink:focus {
    background: rgba(51, 158, 224, 0.2);
}
.topLink:active {
    background: rgb(51, 158, 224);
}

mark {
    background-color: #ffc67f;
}
