.tag:focus,
.clickable:focus,
.clickable.focus,
.form-select:focus,
.form-textfield:focus,
.form-textarea:focus {
    border-color: #39e;
    background-color: #f5f8ff;
}

.clickable:target {
    background-color: #f5f8ff;
}

.a,
.tag {
    color: #37c;
}

.tab-active {
    background-color: #39e;
    box-shadow: 0 -16px 16px #37c inset, 0 0 6px rgba(0, 0, 0, 0.4);
}
.tab-spacer {
    background-color: #37c;
    border-bottom-color: #36a;
}

.tag:focus,
.newItemButton:focus {
    box-shadow: 0 -16px 16px #e5edff inset;
    border-color: #39e;
}
.tag.active,
.tag:active,
.newItemButton:active {
    box-shadow: none;
}

.tag.active,
.tag:active,
.clickable:active,
.newItemButton:active {
    background-color: #39e;
    border-color: #39e;
}

.panel-title {
    background-color: #39e;
    background-image: linear-gradient(#39e, #37c);
    border-bottom-color: #36a;
}

.tab-normal:focus {
    border-color: #37c;
    background-color: #405562;
}

.topLink:focus {
    border-color: #39e;
}

.topLink:focus {
    background: rgba(51, 158, 224, 0.2);
}
.topLink:active {
    background: rgba(51, 158, 224);
}

mark {
    background-color: #ffc67f;
}
