.tag:focus,
.clickable:focus,
.clickable.focus,
.form-select:focus,
.form-textfield:focus,
.form-textarea:focus,
.topLink:focus,
.newItemButton:focus,
.newItemMenu-button:focus {
    border-color: #2a1;
    background-color: rgba(34, 170, 17, 0.2);
}

.a,
.tag,
.tab-active,
.form-property {
    color: #2a1;
}

#tbar,
.tag:focus,
.newItemButton:focus {
    border-color: #2a1;
}

.tag.active,
.tag:active,
.clickable:active,
.newItemButton:active,
.topLink:active {
    background-color: #2a1;
    border-color: #2a1;
}

.panel-title {
    color: #2a1;
    border-top-color: #2a1;
}

mark {
    background-color: rgba(225, 0, 255, 0.5);
}
