.map {
    vertical-align: top;
    width: 100%;
    height: 100%;
}

.map-scale {
    transition: transform 0.2s linear;
}

.map-translate {
    fill: hsl(7, 100%, 56%);
    stroke: hsl(7, 100%, 47%);
    opacity: 0.8;
}
.map-translate.transition {
    transition: transform 0.2s linear;
}

.map-place {
    cursor: pointer;
    transition: transform 0.2s linear;
}
.map-place:hover {
    fill: hsl(7, 100%, 76%);
    stroke: hsl(7, 100%, 67%);
}
