::-webkit-input-placeholder {
    color: #000;
}
/* firefox 4 to 18 */
*:-moz-placeholder {
    color: #000;
}
/* firefox 19 to ~ */
::-moz-placeholder {
    color: #000;
}

body {
    background-color: #fff;
    color: #000;
}

.colorTag {
    color: #000;
}

.tag,
.form-component-separator,
.cashflow-bars {
    background-color: #e3e3e3;
}

.hr,
.barChart-line,
.contactPanel-info,
.twoColumns-column2,
.page_tabs-tab.normal {
    border-color: #e3e3e3;
}

.map-gridline {
    stroke: #e3e3e3;
}

.tab-bar,
.tab-content,
.panel {
    background-color: #fff;
    color: #000;
}

.barChart-number {
    background: rgba(255, 255, 255, 0.6);
}
.barChart-lineLabels {
    background-color: #fff;
}
.barChart-lineLabels-gradient {
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
}

.tag,
.newItemButton.not_green {
    border-color: hsl(0, 0%, 80%);
}
.newItemButton-text.not_green {
    color: #777;
}
.newItemButton-icon-line.not_green {
    background-color: #777;
}

.textList.errors {
    background-color: hsl(0, 90%, 90%);
    color: hsl(0, 80%, 30%);
}
.textList-list-item-bullet.errors {
    background-color: hsl(0, 80%, 30%);
}

.textList.messages {
    background-color: hsl(120, 70%, 80%);
    color: hsl(120, 80%, 30%);
}
.textList-list-item-bullet.messages {
    background-color: hsl(120, 80%, 30%);
}

.textList.warnings {
    background-color: hsl(50, 90%, 90%);
    color: hsl(50, 80%, 40%);
}
.textList-list-item-bullet.warnings {
    background-color: hsl(50, 80%, 40%);
}

.filterBar {
    background-color: hsl(50, 90%, 90%);
    color: hsl(50, 80%, 40%);
}

.confirmDialog-frame {
    background-color: #fff;
}
