.a {
    text-decoration: underline;
}

#tbar {
    font-weight: bold;
    color: #fff;
    background: #333;
}

#bbar {
    height: 48px;
    background: #444 repeat-x 50% 0%;
    background-image: linear-gradient(#333, #444 25px);
}

.page-text {
    padding: 16px;
    background: #fff;
    word-wrap: break-word;
}
.page-info {
    background: #fff;
    line-height: 48px;
    color: #555;
    text-align: center;
    font-style: italic;
}

.link {
    line-height: 48px;
    font-weight: bold;
}
.icon {
    background: url(images/icons.png?15);
    display: inline-block;
    vertical-align: top;
    width: 32px;
    height: 32px;
}

.hr {
    background: #ddd;
    height: 1px;
}

.tags {
    padding: 6px 16px 0px;
    line-height: 42px;
}
.tags-label {
    display: inline-block;
    vertical-align: top;
    line-height: 36px;
    margin-right: 8px;
}

@media (max-width: 440px) {
    .form-property {
        display: block;
        width: auto;
        text-align: left;
        padding: 0 16px;
        max-height: 32px;
    }
    .form-property > label {
        display: block;
    }
    .form-value {
        display: block;
        width: auto;
    }
    .form-checkbox {
        padding-left: 0;
    }
    .form-captcha {
        padding-left: 16px;
    }
}
