.filterBar {
    position: relative;
    height: 48px;
    background: #eee;
    color: #444;
    padding: 15px 16px;
}
.filterBar > a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 48px;
}
.filterBar > a > span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
