.tag:focus,
.clickable:focus,
.clickable.focus,
.form-select:focus,
.form-textfield:focus,
.form-textarea:focus,
.topLink:focus {
    border-color: #f6a;
    background-color: rgba(255, 102, 170, 0.2);
}

.a,
.tag,
.tab-active {
    color: #f6a;
}

#tbar,
.tag:focus,
.newItemButton:focus {
    border-color: #f6a;
}

.tag.active,
.tag:active,
.clickable:active,
.newItemButton:active,
.topLink:active {
    background-color: #f6a;
    border-color: #f6a;
}

.panel-title {
    color: #f6a;
    border-top-color: #f6a;
}

mark {
    background-color: rgba(0, 255, 140, 0.5);
}
