.contactPanel {
    position: relative;
}
.contactPanel > .photo {
    line-height: 200px;
    text-align: center;
}
.contactPanel > .photo > img {
    display: inline-block;
    vertical-align: middle;
    border: 0;
    width: 170px;
    height: 170px;
    padding: 1px;
    border-radius: 2px;
    border: 2px solid #eee;
}
.contactPanel > .info {
    position: relative;
    border-left: 0 solid #eee;
}

@media (max-width:700px) {
    .contactPanel > .photo {
        height: 200px;
    }
    .contactPanel > .info {
        border-top-width: 1px;
        border-top: 1px solid #eee;
    }
}
@media (min-width:700px) {
    .contactPanel > .photo {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 200px;
    }
    .contactPanel > .info {
        margin-left: 200px;
        min-height: 200px;
        border-left-width: 1px;
    }
}
